$primary-dark: rgb(32, 36, 67);
$primary-dark-shadow: rgba(32, 36, 67, 0.644);

$primary: rgb(37, 40, 73);
$primary-light: rgb(46, 50, 92);

$secondary: rgb(201, 25, 192);

$primary: $primary;
$white: rgb(255, 255, 255);
$pink: rgb(185, 83, 249);
$yellow: rgb(220, 223, 27);
$pink-fade: rgba(184, 80, 249, 0.322);
$purple: rgb(56, 38, 130);
$blue: rgb(79, 124, 255);
$red: rgb(246, 81, 100);
$green: rgb(94, 196, 35);
$grey: rgb(184, 184, 184);

$modal-background: rgba(12, 0, 31, 0.549);